{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_przepis_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_przepis_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'przepis.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_created_at'|trans, 'przepis.dataUtworzenia') }}</th>

                <th>{{ knp_pagination_sortable(pagination, 'label_title'|trans, 'przepis.nazwa') }}</th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for przepis in pagination.items %}
                <tr>
                    <td>{{ przepis.id }}</td>
                    <td>{{ przepis.dataUtworzenia|format_date('long') }}</td>

                    <td>{{ przepis.nazwa }}</td>
                    <td>
                        <a href="{{ url('przepis_show', {id: przepis.id}) }}" title="{{ 'action_view'|trans }}">
                            {{ 'action_view'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}
