{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_przepis_details'|trans({'%id%': przepis.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_przepis_details'|trans({'%id%': przepis.id|default('')}) }}</h1>
    {% if przepis is defined and przepis|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ przepis.id }}</dd>
            <dt>{{ 'label_created_at'|trans }}</dt>
            <dd>{{ przepis.dataUtworzenia|format_date('long') }}</dd>
            <dt>{{ 'label_title'|trans }}</dt>
            <dd>{{ przepis.nazwa }}</dd>
            <dt>{{ 'label_skladniki'|trans }}</dt>
            <dd>{{ przepis.skladniki }}</dd>
            <dt>{{ 'label_kroki'|trans }}</dt>
            <dd>{{ przepis.kroki }}</dd>
        </dl>
        <p>
            <a href="{{ url('przepis_index') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}