{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_przepis_details'|trans({'%id%': przepis.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_przepis_details'|trans({'%id%': przepis.id|default('')}) }}</h1>
    {% if przepis is defined and przepis|length %}
        <div class="row">
            <div class="col-sm-9">
               <div class="title"> {{ przepis.nazwa }} </div>
                <div class="row">
                    <div class="col-sm">
                        <dt> {{ 'label_created_at'|trans }}</dt>
                        <dd>{{ przepis.dataUtworzenia|format_date('long') }}</dd>
                    </div>
                    <div class="col-sm">
                        <dt>{{ 'label_autor'|trans }}</dt>
                        <dd>{{ przepis.author.nazwaUzytkownik }}</dd>
                    </div>
                    <div class="col-sm">
                        <dt>{{ 'label_ocena'|trans }}</dt>
                        <dd>{{ 'tu bedzie ocena' }}</dd>
                    </div>
                </div>
                <dl class="dl-horizontal">

                <dt> {{ 'label_info'|trans }}</dt>
                <dd>{{ przepis.info }}</dd>

                <dt>{{ 'label_skladniki'|trans }}</dt>
                <dd>{{ przepis.skladniki }}</dd>
                <dt>{{ 'label_kroki'|trans }}</dt>
                <dd>{{ przepis.kroki }}</dd>
                </dl>
         </div>
        </div>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="btn-group" role="group" aria-label="comment, mark">
            <a href="{{ url('komentarz_create', {przepisId: przepis.id}) }}" title="{{ 'label_mark'|trans }}" type="button" class="btn btn-secondary"> {{ 'label_mark'|trans }} </a>
            <a href="{{ url('komentarz_create', {przepisId: przepis.id}) }}" title="{{ 'label_comment'|trans }}" type="button" class="btn  btn-info btn-secondary"> {{ 'label_comment'|trans }} </a>
        </div>
        <br>
        {% endif %}

        <br>
    {% if przepis.komentarze|length %}
        {% for komentarz in przepis.komentarze %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_komentarz'|trans }}</dt>
            <dd>{{ komentarz.tresc }}</dd>
        </dl>
        {% endfor %}
        <br>
    {% endif %}
        <p>
            <a href="{{ url('przepis_index') }}" class="btn btn-light">
                {{ 'action_back_to_list'|trans }} <i class="bi bi-arrow-return-left"></i>
            </a>
        </p>
    {% else %}
        {% include 'default/_single_flash_message.html.twig' with {
            type: 'warning',
            message: 'message_item_not_found'|trans
        } %}

    {% endif %}
{% endblock %}