{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_uzytkownik_list'|trans }}
{% endblock %}

{% block body %}
    <div class="index_title"> {{ 'title_uzytkownik_list'|trans }}
    </div>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'uzytkownik.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_nazwa_uzytkownik'|trans, 'uzytkownik.nazwa_uzytkownik') }}</th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for uzytkownik in pagination.items %}
                <tr>
                    <td>{{ uzytkownik.id }}</td>
                    <td>{{ uzytkownik.nazwaUzytkownik }}</td>

                    <td>
                        <a class="btn btn-outline-success btn-sm" href="{{ url('uzytkownik_show', {id: uzytkownik.id}) }}" title="{{ 'action_view'|trans }}">
                            {{ 'action_view'|trans }}
                        </a>
                        <a class="btn btn-outline-info btn-sm" href="{{ url('uzytkownik_edit', {id: uzytkownik.id}) }}" title="{{ 'action_edit'|trans }}">
                            {{ 'action_edit'|trans }}
                        </a>
                        <a class="btn btn-outline-danger btn-sm" href="{{ url('uzytkownik_delete', {id: uzytkownik.id}) }}" title="{{ 'action_delete'|trans }}">
                            {{ 'action_delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}

            {% include 'default/_single_flash_message.html.twig' with {
                type: 'warning',
                message: 'message.empty_list'|trans
            } %}

    {% endif %}
{% endblock %}