<ul>
    <h2>{{ 'label_menu'|trans }}</h2>
{% for k in kategorie %}
    <li><a href="{{ url('przepis_index', {'filters_kategoria_id': k.id}) }}">{{ k.kategoriaNazwa }}</a></li>
{% endfor %}
</ul>
<a href={{ url('kategoria_index')}}>{{ 'kategoria_lista'|trans }}</a><br/>
<a href={{ url('tag_index')}}>{{ 'tag_lista'|trans }}</a>
<br/><br/>
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <a href="{{ url('app_logout') }}">{{ 'menu_wyloguj'|trans }}</a>
{% else %}
    <a href="{{ url('app_login') }}">{{ 'menu_zaloguj'|trans }}</a><br/>
{% endif %}
